<h1>{{user.name}}'s list</h1>
<h2>{{list.name}}</h2>

{{#each content}}
<h2>{{title}}</h2>
<p>{{overview}}</p>
<img src="http://image.tmdb.org/t/p/w500{{poster}}" alt="{{title}} poster">

<form action="/media/{{type}}/{{id}}" method="get">
    <button type="submit">View {{type}}</button>
</form>

{{#if ../isOwner}}
<form action="/media/remove-from-list" method="post">
    <input type="hidden" name="listid" value="{{../list.id}}">
    <input type="hidden" name="mediaid" value="{{id}}">
    <button type="submit">Delete from list</button>
</form>
{{/if}}

{{/each}}