<h1>{{user.name}}'s list</h1>
<h2>{{list.name}}</h2>

{{#each content}}
<h2>{{this.title}}</h2>
<p>{{this.overview}}</p>
<img src="http://image.tmdb.org/t/p/w500{{this.poster}}" alt="{{this.title}} poster">

{{/each}}