<div class="container">

    <h1>{{owner.name}} list</h1>
    <h2>{{list.name}}</h2>

    {{#if isOwner}}
    <form action="/lists/edit/{{list.id}}/" method="get">
        <input type="hidden" name="id" value="{{list.id}}">
        <button type="submit">Edit List</button>
    </form>
    {{/if}}

    <div class="row">
        {{#each content}}
        {{!-- New Test --}}

        <div class="col-lg-4 col-md-6 p-2">
            <div class="card full-height">
                <img src="http://image.tmdb.org/t/p/w500{{poster}}" class="card-img-top" alt="{{title}} poster">
                <div class="card-body">
                    <a class="btn btn-outline-dark w-100 card-title" href="/media/{{type}}/{{id}}">{{title}}</a>

                    <textarea class="form-control" name="overview" id="overview" cols="30" rows="10" readonly>{{this.overview}}
                    </textarea>

                    {{#if ../isOwner}}
                    <div class="d-flex mt-2">
                        {{!-- delete --}}
                        <form class="flex-grow-1 d-flex" action="/media/remove-from-list/" method="post">
                            <div class="input-group bg-dark d-none">
                                <input type="hidden" name="listid" value="{{../list.id}}">
                                <input type="hidden" name="mediaid" value="{{id}}">
                            </div>
                            <button class="btn btn-danger mx-1" type="submit"><i class="fas fa-minus"></i></button>
                        </form>
                        {{!-- delete --}}
                        {{!-- Seen --}}
                        <div>
                            <form action="/media/{{id}}/seen" method="post">
                                <button
                                    class="btn {{#if seen}} btn-warning {{else}}btn-secondary{{/if}} seen seen-{{id}}"><i
                                        class="fas fa-eye"></i></button>
                            </form>
                        </div>
                        {{!-- Seen --}}
                    </div>
                    {{/if}}


                </div>
            </div>
        </div>
        {{!-- New Test --}}

        {{/each}}
    </div>

</div>