<h1>{{name}}'s' lists</h1>
{{#each lists}}

<h1>{{this.name}}</h1>
<a href="/users/{{owner}}/lists/{{this.id}}">Link</a>

{{#if ../isOwner}}
<form action="/lists/delete/{{this.id}}" method="post">
    <button>Remove</button>
</form>
{{/if}}

{{/each}}