{{!-- {{actor.images.0.link}} --}}
<div class="container p-5">

    <div class="card shadow rounded">
        {{!-- Card Body --}}
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-4">
                    <img class="img-fluid" src="http://image.tmdb.org/t/p/w500{{actor.pic}}" class="mr-3"
                        alt="{{actor.name}} picture">
                </div>
                <div class="col-lg-8">
                    <div class="p-3">
                        <h1><img src="https://www.countryflags.io/{{actor.country}}/flat/32.png">
                            {{actor.name}}</h1>
                        <h6>Age: <span class="text-primary">{{actor.age}}</spa>
                        </h6>
                        <p>{{actor.bio}}</p>
                    </div>
                </div>
            </div>
        </div>
        {{!-- Card Body --}}
    </div>

    <div class="card shadow rounded">

        <h2 class="section-title pl-2">Known For</h2>
        <div class="owl-carousel owl-theme">

            {{#each actor.credits}}
            <div class="px-2">
                <div class="card shadow ">
                    <img src="http://image.tmdb.org/t/p/w500{{this.poster}}" class="card-img-top"
                        alt="{{this.title}} poster">
                    <div class="card-body">

                        <form action="/media/{{type}}/{{id}}" method="get">
                            <button class="btn btn-outline-dark w-100 card-title" type="submit">
                                <h5 class="card-title m-0">{{title}}</h5>
                            </button>
                        </form>

                        <textarea class="form-control" name="overview" id="overview" cols="30" rows="10"
                            readonly>{{this.overview}}</textarea>

                    </div>
                </div>
            </div>
            {{/each}}
        </div>

    </div>
</div>
</div>