<div class="row no-gutters shadow border rounded my-3">
    <div class="col-md-3">
        <img src="{{picture}}" class="card-img" alt="{{name}} list picture">
    </div>

    <div class="col-md-9">
        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    <a class="btn btn-outline-dark w-100 card-title" href="/users/{{owner}}/lists/{{id}}">{{name}}</a>

                    <p class="card-text">{{description}}</p>

                    <div class="form-group">
                        <label>You have watched {{watchPercentage}}% of this list</label>
                        <div class="progress">
                            <div class="progress-bar bg-success" id="watched{{id}}" role="progressbar"
                                style="width: {{watchPercentage}}%" aria-valuenow="{{watchPercentage}}"
                                aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    {{#if isOwner}}
                    <form class="my-2" action="/users/{{profile.nickname}}/lists/edit/{{id}}/" method="get">
                        <input type="hidden" name="id" value="{{id}}">
                        <button class="btn btn-success w-100" type="submit"><i class="fas fa-pen mr-2"></i>Edit</button>
                    </form>

                    <button class="btn btn-outline-danger w-100" data-toggle="modal" data-target="#deleteList{{id}}"><i
                            class="fas fa-trash mr-2"></i>Delete</button>

                    <!-- Modal -->
                    <div class="modal fade" id="deleteList{{id}}" tabindex="-1" role="dialog"
                        aria-labelledby="deleteListLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteListLabel">Delete {{name}} list</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure that you want to delete '{{name}} List'?
                                </div>
                                <div class="modal-footer">
                                    <form action="/users/{{profile.nickname}}/lists/delete/{{id}}" method="post">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- Modal --}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>