<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h1>Welcome {{user.name}}</h1>


{{#if user.isAnonymous}}
<a href="/users/signup">Sign up</a>
<a href="/users/signin">Sign in</a>
{{else}}
<a href="/users/{{user.nickname}}">Profile</a>
<a href="/users/{{user.nickname}}/lists">My lists</a>
<a href="/lists/add">Add List</a>
<form action="/users/signout" method="post">
    <button type="submit">Logout</button>
</form>
{{/if}}

<form action="/media/search" method="get">

    <input type="text" name="title">

    <select name="type" id="type">
        <option value="movie">Movies</option>
        <option value="tv">TV Shows</option>
    </select>

    <button type="submit">Search</button>

</form>