<div class="container">

    {{!-- Profile --}}
    <div class="card">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{profile.avatar}}" class="card-img" alt="{{profile.name}} profile picture">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{profile.name}}</h5>
                    <h6>@{{profile.nickname}}</h6>
                    <p class="card-text">{{profile.about}}</p>
                </div>
            </div>
        </div>
    </div>
    {{!-- Profile --}}

    <a class="btn btn-success my-3" href="/users/{{profile.nickname}}/lists/add"><i class="fas fa-plus mr-2"></i>Add
        list</a>
    {{!-- Lists --}}
    <div class="user-lists">
        {{#each lists}}
        {{> listCard isOwner=../isOwner profile=../profile}}
        {{/each}}
    </div>
    {{!-- Lists --}}
</div>